@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	}

#top_line{
	width:100%;
	height:2px;
	background-color:#F00;
	margin-bottom:5px;
	}
#foot_line{
	width:100%;
	height:2px;
	background-color:#F00;
	margin-top:5px;
	}
